#list {
	font-family: Arial;
	font-size : 10px;
	margin: 0 auto;
	border: 1px solid #ddd;
	padding: 1em;
}

body {
	font-family: Arial;
	font-size : 12px;
}

#main {
	width : 960px;
	margin: 0 auto;
	border: 1px solid #ddd;
	padding: 1em;
}

